*{
    font-family:'Robot';
}
body{
    font-size: 15px;
    background-color: #F6F6F6;
}



/* Tamaño de los H2 y su fuente */
h2{

    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    font-weight: bold;
}

.login{
    background: #7ab6f1;
}


  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }

    50%{
      transform: scale(1.2);
    }

    100%{
      transform: scale(0.8);
    }
  }
