*{
    font-family: Arial,sans-serif;
}
body{
    font-size: 15px;
    background-color: #F6F6F6;
}



/* Tamaño de los H2 y su fuente */
h2{

}

a{
    text-decoration: none;
    font-weight: bold;
}

.login{
    background: #7ab6f1;
}

#direccion_p_con_negrita{
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 10px;
}

#direccion_p_sin_negrita{
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;

}





@keyframes ripple{
0%{
  transform: scale(0.8);
}

50%{
  transform: scale(1.2);
}

100%{
  transform: scale(0.8);
}
}
