*{
    font-family:'Times New Roman', Times, serif
}
body{
    font-size: 15px;
    background-color: #F6F6F6;
}



/* Tamaño de los H2 y su fuente */
h2{

    font-family: 'Times New Roman', Times, serif;
}

